<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #0F1111; height: 60px; padding: 10px 15px;">
      <div class="container-fluid">
        <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#" style="margin-top: 12px;">
          <img src="assets/Images/Icon.png" height="30" width="100px" alt="" loading="lazy"/>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 15px;">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a id="nav-global-location-popover-link" class="nav-a nav-a-2 a-popover-trigger a-declarative nav-progressive-attribute" tabindex="0">
                <div class="nav-sprite nav-progressive-attribute" id="nav-packard-glow-loc-icon"></div>
                <div id="glow-ingress-block">
                  <span class="nav-line-1 nav-progressive-content" id="glow-ingress-line1" style="font-size: 15px; color: white;">
                    Deliver to Ankit
                  </span>
                  <br>
                  <span class="nav-line-2 nav-progressive-content" id="glow-ingress-line2" style="font-size: 15px; font-weight: bold; color: white;">
                    <i class="bi bi-geo-alt-fill"></i> Ghaziabad 201009
                  </span>
                </div>
              </a>
            </li>
          </ul>
          <form class="d-flex">
            <div class="input-group" style="height: 40px;margin-left: 30px; ">
              <div class="input-group-prepend">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 40px;">
                  All
                </button>
                <div class="dropdown-menu" style="max-height: 350px; overflow-y: auto;">
                  <a class="dropdown-item" href="#">All Categories</a>
                  <a class="dropdown-item" href="#">Alexa Skills</a>
                  <a class="dropdown-item" href="#">Amazon Devices</a>
                  <a class="dropdown-item" href="#">Amazon Fashion</a>
                  <a class="dropdown-item" href="#">Amazon Fresh</a>
                  <a class="dropdown-item" href="#">Appliances</a>
                  <a class="dropdown-item" href="#">Baby</a>
                  <a class="dropdown-item" href="#">Beauty</a>
                  <a class="dropdown-item" href="#">Books</a>
                  <a class="dropdown-item" href="#">Car & Motorbike</a>
                  <a class="dropdown-item" href="#">Clothing & Accessories</a>
                  <a class="dropdown-item" href="#">Computer & Accessories</a>
                  <a class="dropdown-item" href="#">Electronics</a>
                  <a class="dropdown-item" href="#">Furniture</a>
                  <a class="dropdown-item" href="#">Gift Card</a>
                  <a class="dropdown-item" href="#">Watches</a>
                  <a class="dropdown-item" href="#">Decor</a>
                  <a class="dropdown-item" href="#">Garden</a>
                </div>
              </div>
              <input type="search" class="form-control" placeholder="Search" aria-label="Search" style="width: 330px; height: 100%;">
              <div class="input-group-append">
                <button class="btn btn-warning" type="submit" style="height: 40px;">
                  <i class="bi bi-search"></i>
                </button>
                <div class="dropdown" style="margin-left: 20px;">
                  <span class="btn btn-secondary dropdown-toggle bg-transparent" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none; margin-top: 5px;">
                    <img src="assets/Images/Icon2.png" height="15px" width="20px" alt="" loading="lazy" /><b style="font-size: 15px; margin-left: 2px;">EN</b>
                  </span>
                  <div class="dropdown-menu" style="margin-top: 0;">
                    <a class="dropdown-item" href="#">Hindi</a>
                    <a class="dropdown-item" href="#">English</a>
                    <a class="dropdown-item" href="#">German</a>
                  </div>
                </div>
                <div class="dropdown" style="margin-left: 15px;">
                  <span class="btn btn-secondary dropdown-toggle bg-transparent" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;font-size: 13px; color: white;">Hello, Ankit <br>  <b style="font-size: 13px; margin-left: 2px;">Account &amp; Lists</b></span>
                  <div class="dropdown-menu" style="margin-top: 0;">
                    <a class="dropdown-item" href="#">Hindi</a>
                    <a class="dropdown-item" href="#">English</a>
                    <a class="dropdown-item" href="#">German</a>
                  </div>
                </div>
                <div class="dropdown" style="margin-left: 30px; margin-top: 5px;">
                  <span class="bg-transparentn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;font-size: 13px; color: white;">Returns <br>  <b style="font-size: 13px; margin-left: 2px;">&amp; Orders</b></span>
                 
                </div>
                <div id="nav-cart-count-container">
                  <span style="margin-left: 90px; font-size: 30px;color: white;"><i class="bi bi-cart2"></i></span>
                </div>              
              </div>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </header>
  
  