<body>
    <div style="margin-bottom: 300px;">
      <mat-toolbar style="background-color: #232f3e;">
        <button mat-button>
          <mat-icon style="font-size: 24px;">menu</mat-icon>
        </button>
        <button style="margin-left: 10px; font-size:13px; background: none; border: none; color: white; cursor: pointer; padding: 1;">All</button>
        <button style="margin-left: 10px; font-size:13px; background: none; border: none; color: white; cursor: pointer; padding: 1;">Today's Deals</button>
        <button style="margin-left: 10px; font-size:13px; background: none; border: none; color: white; cursor: pointer; padding: 1;">Amazon miniTV</button>
        <button style="margin-left: 10px; font-size:13px; background: none; border: none; color: white; cursor: pointer; padding: 1;">Sell</button>
        <button style="margin-left: 10px; font-size:13px; background: none; border: none; color: white; cursor: pointer; padding: 1;">Gift Cards</button>
        <button style="margin-left: 10px; font-size:13px; background: none; border: none; color: white; cursor: pointer; padding: 1;">Fresh</button>
        <button style="margin-left: 10px; font-size:13px; background: none; border: none; color: white; cursor: pointer; padding: 1;">Coupons</button>
        <button style="margin-left: 10px; font-size:13px; background: none; border: none; color: white; cursor: pointer; padding: 1;">Gift Ideas</button>
        <button style="margin-left: 10px; font-size:13px; background: none; border: none; color: white; cursor: pointer; padding: 1;">Amazon Pay</button>
        <button style="margin-left: 10px; font-size:13px; background: none; border: none; color: white; cursor: pointer; padding: 1;">Buy Again</button>
        <button style="margin-left: 140px; font-size:13px;background: none; border: none; color: white; cursor: pointer; padding: 1;">New Launches from Mobile, Electronics & more</button>
    </mat-toolbar>
    </div>
  <div class="border-box">
      <div class="left-portion">
        <mat-card style="width: 300px;height: 100%;background-color: white;">
            <h6 style="margin-top: 20px;margin-left: 10px;"><b>Delivery Day</b></h6>
            <div style="margin-left: 15px;">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="get-it-tomorrow">
                  <label class="form-check-label" for="get-it-tomorrow">
                      Get It by Tomorrow
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="get-it-in-2-days">
                  <label class="form-check-label" for="get-it-in-2-days">
                      Get It in 2 Days
                  </label>
              </div>
          </div>  
          <h6 style="margin-top: 10px;margin-left: 10px;"><b>Brand</b></h6>
          <div style="margin-left: 15px;">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="get-it-tomorrow">
                <label class="form-check-label" for="get-it-tomorrow">
                    Apple
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="get-it-in-2-days">
                <label class="form-check-label" for="get-it-in-2-days">
                    One Plus
                </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="get-it-in-2-days">
              <label class="form-check-label" for="get-it-in-2-days">
                  Samsung
              </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="get-it-in-2-days">
            <label class="form-check-label" for="get-it-in-2-days">
                IQOO
            </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="get-it-in-2-days">
          <label class="form-check-label" for="get-it-in-2-days">
              Xiaomi
          </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="get-it-in-2-days">
        <label class="form-check-label" for="get-it-in-2-days">
            Realme
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="get-it-in-2-days">
        <label class="form-check-label" for="get-it-in-2-days">
            OnePlus
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="get-it-in-2-days">
        <label class="form-check-label" for="get-it-in-2-days">
            Vivo
        </label>
      </div>
    </div>
      <h6 style="margin-top: 10px;margin-left: 10px;"><b>Operating System</b></h6>
      <div style="margin-left: 15px;">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="get-it-tomorrow">
            <label class="form-check-label" for="get-it-tomorrow">
              Android 11.0
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="get-it-in-2-days">
            <label class="form-check-label" for="get-it-in-2-days">
              Android 12.0
            </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="get-it-in-2-days">
          <label class="form-check-label" for="get-it-in-2-days">
            Android 13.0
          </label>
        </div>
    </div>   
    <h6 style="margin-top: 10px;margin-left: 10px;"><b>Cellular Phone Memory Storage</b></h6>
      <div style="margin-left: 15px;">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="get-it-tomorrow">
            <label class="form-check-label" for="get-it-tomorrow">
              8 GB
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="get-it-in-2-days">
            <label class="form-check-label" for="get-it-in-2-days">
              16 GB
            </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="get-it-in-2-days">
          <label class="form-check-label" for="get-it-in-2-days">
            32 GB
          </label>
        </div>
    </div>   
    <h6 style="margin-top: 10px;margin-left: 10px;"><b>Price</b></h6>
      <div style="margin-left: 15px;">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="get-it-tomorrow">
            <label class="form-check-label" for="get-it-tomorrow">
              Under 10000
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="get-it-in-2-days">
            <label class="form-check-label" for="get-it-in-2-days">
              Under 20000
            </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="get-it-in-2-days">
          <label class="form-check-label" for="get-it-in-2-days">
            Under 30000
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="get-it-in-2-days">
          <label class="form-check-label" for="get-it-in-2-days">
            Under 40000
          </label>
        </div>
    </div>   
        </mat-card>
      </div>
    <div class="right-portion">
      <mat-card *ngFor="let product of appdata" id="card">
        <div class="divided-card">
          <div class="left-part">
            <img src="{{ product.filePath }}" height="300px" width="200px" alt="{{ product.name }} Image">
          </div>
          <div class="right-part">
            <h3 style="margin: 0; font-size: 18px">{{ product.name }}</h3>
            <p style="margin: 0; font-size: 20px">{{ product.description }}</p>
            <div class="rate">
              <input type="radio" id="star5" name="rate" value="5" />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" />
              <label for="star1" title="text">1 star</label>
            </div>
            <br><br>
            <p style="margin: 0; font-size: 12px;">500+ bought in past month</p>
            <p style="margin: 0; font-size: 25px;">₹{{ product.price }}<span style="font-size: 12px;color: gray;">M.R.P:</span><span style="text-decoration: line-through; font-size: 12px;color: gray;">₹69,900</span></p>
            <p style="margin: 0; font-size: 12px;">Save extra with No Cost EMISave extra with No Cost EMI</p>
            <p style="margin: 0; font-size: 12px;">FREE delivery <b>Thu, 25 Jan</b></p>   
            <button mat-fab extended routerLink="." color="warn" class="small-button">
              <mat-icon>shopping_cart</mat-icon>
              Add to Cart
            </button>         
          </div>
        </div>
      </mat-card>
   </div>
  </div>
  </body>
  