<body style="background-color: #E3E6E6;">
    <div>
      <mat-toolbar style="background-color: #232f3e;" >
        <mat-icon style="font-size: 24px;margin-left: 2px;">menu</mat-icon>
        <span style="margin-left: 10px; font-size:15px;"> All</span>
        <span style="margin-left: 10px; font-size:15px;"> Today's Deals</span>
        <span style="margin-left: 10px; font-size:15px;"> Amazon miniTV</span>
        <span style="margin-left: 10px; font-size:15px;"> Sell</span>
        <span style="margin-left: 10px; font-size:15px;"> Gift Cards</span>
        <span style="margin-left: 10px; font-size:15px;"> Fresh</span>
        <span style="margin-left: 10px; font-size:15px;"> Coupons</span>
        <span style="margin-left: 10px; font-size:15px;"> Gift Ideas</span>
        <span style="margin-left: 10px; font-size:15px;"> Amazon Pay</span>
        <span style="margin-left: 10px; font-size:15px;"> Buy Again</span>
        <span style="margin-left: 140px; font-size:15px;"> New Launches from Mobile, Electronics & more</span>
      </mat-toolbar>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/Images/carousel1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/Images/carousel2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/Images/carousel3.jpg" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div  class="row">
      <mat-card class="example-card" id="card1" style="background-color: white;">
        <mat-card-header>
          <mat-card-title>Keep shopping for</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile *ngFor="let image of imageList">
              <img src="{{image}}" alt="Image">
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card" id="card2" style="background-color: white;">
        <mat-card-header >
          <mat-card-title>Pick up where you left off</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>  
      <mat-card class="example-card" id="card3" style="background-color: white;">
        <mat-card-header>
          <mat-card-title>Deals inspired by your recent history</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card> 
      <div class="column">
        <mat-card class="example-card" id="card31" style="background-color: white;">
          <mat-card-header>
            <mat-card-title>Become an Amazon Seller</mat-card-title>
          </mat-card-header>
          <mat-card-content>
          </mat-card-content>
        </mat-card> 
        <mat-card class="example-card" id="card32" style="background-color: white;">
          <mat-card-header>
            <mat-card-title>Test</mat-card-title>
          </mat-card-header>
          <mat-card-content>
          </mat-card-content>
        </mat-card> 
      </div> 
    </div>
    <div  class="row">
      <mat-card class="example-card" id="card4" style="background-color: white;">
        <mat-card-header>
          <mat-card-title>Prime Video: Recommended for you</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card> 
      <mat-card class="example-card" id="card5" style="background-color: white;">
        <mat-card-header>
          <mat-card-title>Deals for you in Electronics</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card> 
      <mat-card class="example-card" id="card6" style="background-color: white;">
        <mat-card-header>
          <mat-card-title>4+ star deals for you</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card> 
    </div> 
     <mat-card class="example-card" id="card7" style="background-color: white;">
      <mat-card-header>
        <mat-card-title>Today’s Deals</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card> 
    <!-- <mat-card class="example-card" id="card7" style="background-color: white;">
      <mat-card-header>
        <mat-card-title>Today’s Deals</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-carousel>
          <mat-carousel-slide>
            <img src="assets/Images/carousel1.jpg" alt="Item 1">
          </mat-carousel-slide>
          <mat-carousel-slide>
            <img src="assets/Images/carousel2.jpg" alt="Item 2">
          </mat-carousel-slide>
        </mat-carousel>
      </mat-card-content>
    </mat-card> -->
    
    <mat-card class="example-card" id="card8" style="background-color: white;">
      <mat-card-header>
        <mat-card-title>Up to 60% off | Deck up your home this festive season | Amazon Brands & more</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card> 
    <mat-card class="example-card" id="card9" style="background-color: white;">
      <mat-card-header>
        <mat-card-title>Kitchen & dining products</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card> 
    <div  class="row">
      <mat-card class="example-card" id="card10" style="background-color: white;">
        <mat-card-header>
          <mat-card-title>You might also like</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card> 
      <mat-card class="example-card" id="card11" style="background-color: white;">
        <mat-card-header >
          <mat-card-title>Keep shopping for</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>  
      <mat-card class="example-card" id="card12" style="background-color: white;">
        <mat-card-header>
          <mat-card-title>Continue shopping for</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card" id="card13" style="background-color: white;">
        <mat-card-header>
          <mat-card-title>More items to consider</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-card class="example-card" id="card14" style="background-color: white;">
      <mat-card-header>
        <mat-card-title>Related to items you've viewed</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card> 
    <mat-card class="example-card" id="card15" style="background-color: white;">
      <mat-card-header>
        <mat-card-title>Best Sellers in Computers & Accessories</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
    <div  class="row">
      <mat-card class="example-card" id="card16" style="background-color: white;">
        <mat-card-header>
          <mat-card-title>Explore more</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card> 
      <mat-card class="example-card" id="card17" style="background-color: white;">
        <mat-card-header >
          <mat-card-title>One stop shop for all your wedding shopping</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>  
      <mat-card class="example-card" id="card18" style="background-color: white;">
        <mat-card-header>
          <mat-card-title>Hack: Crimes online | Watch only on miniTV</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card" id="card19" style="background-color: white;">
        <mat-card-header>
          <mat-card-title>Customers’ Most-Loved Fashion for you</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </div> 
  </body>
