<body>
    <h1 style="font-size: 25px; margin-left: 115px;margin-top: 50px;">Your Account</h1>
    <div  class="row">
        <mat-card id="car1">
        <mat-card-header>
            <!-- <mat-card-title routerLink="/order">Your Orders</mat-card-title> -->
            <a routerLink="/order" style="color: black; text-decoration: none; display: block; ">Your Orders</a>
            <img src="https://m.media-amazon.com/images/G/31/x-locale/cs/ya/images/Box._CB485927553_.png" height="20px" width="20px">
        </mat-card-header>
        <mat-card-content>Track, return, or buy things again</mat-card-content>
        </mat-card>
        <mat-card id="car2">
            <mat-card-header>
                <mat-card-title>Login & security</mat-card-title>
                <img src="https://m.media-amazon.com/images/G/31/x-locale/cs/ya/images/sign-in-lock._CB485931504_.png" height="20px" width="20px">
            </mat-card-header>
            <mat-card-content>Edit login, name, and mobile number</mat-card-content>
        </mat-card>
        <mat-card id="car3">
            <mat-card-header>
                <mat-card-title>Prime</mat-card-title>
                <img src="https://m.media-amazon.com/images/G/31/x-locale/cs/ya/images/rc_prime._CB485926807_.png" height="20px" width="20px">
            </mat-card-header>
            <mat-card-content>View benefits and payment settings</mat-card-content>    
        </mat-card>
    </div>
    <div  class="row">
        <mat-card id="car4">
            <mat-card-header>
                <mat-card-title routerLink="/address">Your Addresses</mat-card-title>
                <img src="https://m.media-amazon.com/images/G/31/x-locale/cs/ya/images/address-map-pin._CB485934183_.png" height="20px" width="20px">
            </mat-card-header>
            <mat-card-content>Edit addresses for orders and gifts</mat-card-content>   
        </mat-card>
        <mat-card id="car5">
            <mat-card-header>
                <mat-card-title routerLink="/payment">Payment options</mat-card-title>
                <img src="https://m.media-amazon.com/images/G/31/x-locale/cs/ya/images/Payments._CB485926359_.png" height="20px" width="20px">
                <mat-card-subtitle>Edit or add payment methods</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>Edit or add payment methods</mat-card-content>   
        </mat-card>
        <mat-card id="car6">
            <mat-card-header>
                <mat-card-title>Amazon Pay balance</mat-card-title>
                <img src="https://m.media-amazon.com/images/G/31/x-locale/cs/ya/images/amazon_pay._CB485946857_.png" height="20px" width="20px">
            </mat-card-header>
            <mat-card-content>Add money to your balance</mat-card-content>   
        </mat-card>
    </div>
    <mat-card id="car7">
        <mat-card-header>
            <mat-card-title>Your business account</mat-card-title>
            <img src="https://m.media-amazon.com/images/G/31/AmazonBusin…/YAPATF/amazon_business_yap_atf._CB588250268_.jpg" height="20px" width="20px">
        </mat-card-header>
        <mat-card-content>Sign up to save up to 28% with GST invoice and bulk discounts, purchase on credit, and more</mat-card-content>   
    </mat-card>
    <hr>
    <div  class="row">
        <mat-card id="car8">
            <mat-card-header>
                <mat-card-title>Digital content and devices</mat-card-title>
            </mat-card-header>
            <mat-card-content class="custom-mat-card-content" >
                <a href="#" style="color: #007185; text-decoration: none; display: block; ">Apps and more</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block;">Content and devices</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block; ">Digital gifts you've received</a>
            </mat-card-content>
        </mat-card>
        
        <mat-card id="car9">
            <mat-card-header>
                <mat-card-title>Email alerts, messages, and ads</mat-card-title>              
            </mat-card-header>
        <mat-card-content class="custom-mat-card-content" >
                <a href="#" style="color: #007185; text-decoration: none; display: block; ">Advertising preferences</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block;">Communication preferences</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block; ">SMS alert preferences</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block; ">Message center</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block;">Alexa shopping notifications</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block; ">Deals Notifications</a>
        </mat-card-content>
        </mat-card>
        <mat-card id="car10">
            <mat-card-header>
                <mat-card-title>More ways to pay</mat-card-title>              
            </mat-card-header>
        <mat-card-content class="custom-mat-card-content" >
                <a href="#" style="color: #007185; text-decoration: none; display: block; ">Default Purchase Settings</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block;">Amazon Pay</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block; ">Coupons</a>
        </mat-card-content>
        </mat-card>
    </div>
    <div  class="row">
        <mat-card id="car11">
            <mat-card-header>
                <mat-card-title>Ordering and shopping preferences</mat-card-title>             
            </mat-card-header>
        <mat-card-content class="custom-mat-card-content" >
                <a href="#" style="color: #007185; text-decoration: none; display: block; ">Leave packaging feedback</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block;">Lists</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block; ">Manage saved IDs</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block;">Profile</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block; ">Language settings</a>
        </mat-card-content>
        </mat-card>
        <mat-card id="car12">
            <mat-card-header>
                <mat-card-title>Other accounts</mat-card-title>             
            </mat-card-header>
        <mat-card-content class="custom-mat-card-content" >
                <a href="#" style="color: #007185; text-decoration: none; display: block; ">Account Linking</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block;">Seller account</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block; ">Amazon Web Services</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block; ">Login with Amazon</a>
        </mat-card-content>
        </mat-card>
        <mat-card id="car13">
            <mat-card-header>
                <mat-card-title>Shopping programs and rentals</mat-card-title>             
            </mat-card-header>
        <mat-card-content class="custom-mat-card-content" >
                <a href="#" style="color: #007185; text-decoration: none; display: block; ">Manage Your Profiles</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block;">Subscribe & Save</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block; ">Shop the Kids' Store by age</a>
        </mat-card-content>
        </mat-card>
    </div>
    <div  class="row">
        <mat-card id="car14">
            <mat-card-header>
                <mat-card-title>Subscriptions</mat-card-title>                
            </mat-card-header>
        <mat-card-content class="custom-mat-card-content" >
                <a href="#" style="color: #007185; text-decoration: none; display: block; ">Email</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block;">Memberships & Subscriptions</a>
        </mat-card-content>
        </mat-card>
        <mat-card id="car15">
            <mat-card-header>
                <mat-card-title>Data and Privacy</mat-card-title>             
            </mat-card-header>
            <mat-card-content class="custom-mat-card-content" >
                <a href="#" style="color: #007185; text-decoration: none; display: block; ">Request Your Information</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block;">Close Your Amazon Account</a>
                <a href="#" style="color: #007185; text-decoration: none; display: block; ">Privacy Notice</a>
        </mat-card-content>   
        </mat-card>
    </div>
</body>